<template>
  <div class="flex justify-center">
    {{ question.title }}
    <div>
      <v-chip-group
        active-class="primary--text"
        multiple
        column
        v-model="answer"
      >
        <v-chip
          v-for="(theme) in themes"
          :key="theme.id"
          :value="theme.id"
        >
          {{ theme.title }}
        </v-chip>
      </v-chip-group>
    </div>
  </div>
</template>
<script>
import { THEMES } from '../../dictionaries/themes';

export default {
  name: 'UserQuizStep3',
  props: {
    question: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    themes: THEMES,
    answer: [],
  }),
  watch: {
    answer(value) {
      this.$emit('update', {
        key: this.question.key,
        value,
      });
    },
  },
};

</script>
