<template>
  <div class="flex justify-center">
    <div class="mb-4">{{ question.title }}</div>
    <div>
      <v-chip-group
        active-class="primary--text"
        column
        v-model="answer"
      >
        <v-chip
          v-for="variant in variants"
          :key="variant.text"
        >
          {{ variant.text }}
        </v-chip>
      </v-chip-group>
    </div>
  </div>
</template>
<script>
export default {
  name: 'UserQuizStep1',
  props: {
    question: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    answer: null,
    variants: [
      {
        text: 'Да',
        value: true,
      },
      {
        text: 'Нет',
        value: false,
      },
    ],
  }),
  watch: {
    answer(idx) {
      this.$emit('update', {
        key: this.question.key,
        value: this.variants[idx].value,
      });
    },
  },
};
</script>
