<template>
  <div class="flex justify-center align-center">
    <div class="mb-6">
      <p>Перед тем как продолжить ответьте на несколько.
        Это поможет нам понять Ваши предпочтения</p>
    </div>
    <v-stepper v-model="activeStep" non-linear>
      <v-stepper-header>
        <v-stepper-step
          editable
          step="1"
        />
        <v-divider/>
        <template v-if="!answers.first_in_city">
          <v-stepper-step
            editable
            step="2"
          />
          <v-divider/>
        </template>
        <v-stepper-step
          editable
          step="3"
        />
        <v-divider/>
        <v-stepper-step
          editable
          step="4"
        />
      </v-stepper-header>
    </v-stepper>
    <div class="my-6">
      <keep-alive>
        <component
          class="flex justify-center"
          :is="steps[activeStep - 1]"
          :question="quizQuestions[activeStep - 1]"
          @update="onAnswer"
        />
      </keep-alive>
    </div>
    <v-divider/>
    <div class="mt-8">
      <v-btn
        @click="sendAnswer"
        :loading="advancedInfoLoading"
      >Отправить</v-btn>
    </div>
  </div>
</template>
<script>
// TODO рефакторинг quiz-manager
import { mapActions, mapGetters } from 'vuex';
import UserQuizQuestion1 from './UserQuizQuestion1.vue';
import UserQuizQuestion2 from './UserQuizQuestion2.vue';
import UserQuizQuestion3 from './UserQuizQuestion3.vue';
import UserQuizQuestion4 from './UserQuizQuestion4.vue';

import { QUIZ_QUESTIONS } from '../../consts/quiz';

export default {
  name: 'UserQuizManager',
  components: {
    UserQuizQuestion1,
    UserQuizQuestion2,
    UserQuizQuestion3,
    UserQuizQuestion4,
  },
  data: () => ({
    activeStep: 1,
    steps: ['UserQuizQuestion1', 'UserQuizQuestion2', 'UserQuizQuestion3', 'UserQuizQuestion4'],
    quizQuestions: QUIZ_QUESTIONS,
    answers: {
      first_in_city: true,
      areas: [],
      spheres: [],
      themes: [],
    },
  }),
  methods: {
    ...mapActions({
      setAdvancedInfo: 'profile/setAdvancedInfo',
    }),
    onAnswer({ key, value }) {
      this.answers[key] = value;
      if (key === 'first_in_city' && this.answers.first_in_city) {
        this.answers.areas = [];
      }
    },
    async sendAnswer() {
      await this.setAdvancedInfo(this.answers);
      this.$router.push('/');
    },
  },
  computed: {
    ...mapGetters({
      isLoading: 'loading/isLoading',
    }),
    advancedInfoLoading() {
      return this.isLoading('profile.setAdvancedInfo');
    },
  },
};
</script>
