<template>
  <div class="flex justify-center">
    {{ question.title }}
    <div>
      <v-chip-group
        active-class="primary--text"
        multiple
        column
        v-model="answer"
      >
        <v-chip
          v-for="(area) in areas"
          :key="area.id"
          :value="area.id"
        >
          {{ area.title }}
        </v-chip>
      </v-chip-group>
    </div>
  </div>
</template>
<script>
import { AREAS } from '../../dictionaries/areas';

export default {
  name: 'UserQuizStep4',
  props: {
    question: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    areas: AREAS,
    answer: [],
  }),
  watch: {
    answer(value) {
      this.$emit('update', {
        key: this.question.key,
        value,
      });
    },
  },
};

</script>
