@import '~@mdi/font/css/materialdesignicons.css';
@import '~swiper/swiper-bundle.css';

.min-h-100 {
  min-height: 100%;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
