<template>
  <div class="mx-4">
    <v-tabs right grow mobile-breakpoint="0" v-model="activeFrame">
      <v-tab v-for="frame in frames" :key="frame.id">{{ frame.name }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="activeFrame">
      <v-tab-item
        v-for="frame in frames"
        :key="frame.id"
      >
        <component
          class="py-4"
          :is="frame.component"
          :filter="frame.filter"
        />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>
<script>
import FrameFilterCategory from '../frames/FrameFilterCategory.vue';
import FrameFilterThemes from '../frames/FrameFilterThemes.vue';
import FrameFilterAreas from '../frames/FrameFilterAreas.vue';

export default {
  components: {
    FrameFilterCategory,
    FrameFilterThemes,
    FrameFilterAreas,
  },
  data: () => ({
    activeFrame: null,
    frames: [{
      id: '1',
      name: 'Категория',
      component: 'FrameFilterCategory',
      key: 'spheres',
    },
    {
      id: '2',
      name: 'Тематика',
      component: 'FrameFilterThemes',
      key: 'themes',
    },
    {
      id: '3',
      name: 'Район',
      component: 'FrameFilterAreas',
      key: 'areas',
    }],
  }),
};
</script>
