<template>
  <v-card>
    <template slot="progress">
      <v-progress-linear
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img
      height="200"
      :src="event.thumb"
    ></v-img>

    <v-card-title>{{ event.title }}</v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0"
      >
        <v-rating
          :value="4.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>
      </v-row>

      <div class="my-4 text-subtitle-1">
        {{ costText }}
      </div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions>
      <v-btn
        text
        :loading="updateLoading"
        :disabled="event.subscribed"
        @click="addToFavorite(event.id)">
        {{ updateBtnText }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      isLoading: 'loading/isLoading',
    }),
    costText() {
      const cost = this.event.free ? 'Бесплатное' : 'Платное';
      return `${cost} мероприятие`;
    },
    updateLoading() {
      const regex = new RegExp(`events.favorites.update-${this.event.id}`, 'gi');
      return this.isLoading(regex);
    },
    updateBtnText() {
      return this.event.subscribed ? 'Добавлено' : 'Пойду';
    },
  },
  methods: {
    ...mapActions({
      addToFavorite: 'events/addToFavorite',
    }),
  },
};
</script>
