<template>
  <div>
    <div v-for="event in events" :key="event.id">
      <event-card :event="event" class="my-4"/>
    </div>
  </div>
</template>
<script>
import EventCard from './EventCard.vue';
import { DUMMY_USER_EVENTS_LIST } from '../../consts/dummy';

export default {
  name: 'UserEventsList',
  components: {
    EventCard,
  },
  data: () => ({
    events: DUMMY_USER_EVENTS_LIST,
  }),
};
</script>
