<template>
  <div class="mt-3">
    <v-img
      height="120px"
      gradient="45deg, rgba(55, 0, 0, 0.4), rgba(0, 0, 55, 0.4)"
      :src="info.image"
    >
      <div class="min-h-100 px-2 d-flex flex-column">
        <div class="white--text subtitle-2 mt-2">
          {{ info.title }}
        </div>
        <div v-if="info.startAddress" class="white--text body-2">
          от {{ info.startAddress }}
          <div>{{ info.duration }}</div>
        </div>

        <div v-if="mapActionTitles[filter]" class="mt-auto mb-2">
          <v-btn small @click="onAction">{{ mapActionTitles[filter] }}</v-btn>
        </div>
      </div>
    </v-img>
  </div>
</template>

<script>
import CardRoute from './CardRoute.vue';

export default {
  extends: CardRoute,
};
</script>

<style>

</style>
