<template>
  <v-card>
    <div class="d-flex flex-no-wrap justify-space-between">
      <div>
        <v-card-title class="subtitle-2">
          {{ info.title }}
        </v-card-title>
        <v-card-subtitle class="body-2">
          <div><v-icon small>mdi-map-marker</v-icon> {{ info.startAddress }}</div>
          <div><v-icon small>mdi-calendar</v-icon> {{ info.startDate }}</div>
          <div><v-icon small>mdi-clock-outline</v-icon> {{ info.duration }}</div>
        </v-card-subtitle>
        <v-card-actions>
          <v-btn rounded small outlined @click="onAction">{{ mapActionTitles[filter] }}</v-btn>
        </v-card-actions>
      </div>
      <v-avatar
        class="ma-3"
        size="125"
        tile
      >
        <v-img :src="info.image"></v-img>
      </v-avatar>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      startAddressLabel: 'Начало:',
      endAddressLabel: 'Окончание',
      mapActionTitles: {
        new: 'Начать сейчас',
        archieve: 'Повторить',
        recommended: 'Сохранить',
      },
    };
  },
  methods: {
    onAction() {
      console.log(this.info);
    },
  },
};
</script>

<style>

</style>
