<template>
  <v-app-bar
    app
    color="primary"
    hide-on-scroll
    class="shadow-primary pr-3"
    dense
    dark
  >
    <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>
    <v-progress-circular
      v-if="profileLoading"
      indeterminate
      size="24"
      width="3"
    ></v-progress-circular>
    <v-toolbar-title v-if="!profileLoading && isAuthorized">{{ username }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon small @click="toggleDisability">
      <v-icon>
        {{ disabilityMenu ? 'mdi-eye-outline' : 'mdi-eye'}}
      </v-icon>
    </v-btn>

    <template v-if="topBarExtention" v-slot:extension>
      <component :is="topBarExtention" />
    </template>
  </v-app-bar>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import ProfileModel from '../../models/profile';
import AuthModel from '../../models/auth';
import CalendarToolbar from '../app-bar-extentions/CalendarToolbar.vue';
import RoutesToolbar from '../app-bar-extentions/RoutesToolbar.vue';

export default {
  props: {
    drawer: {
      type: Boolean,
      default: false,
    },
    disabilityMenu: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    CalendarToolbar,
    RoutesToolbar,
  },
  computed: {
    ...mapState({
      profile: (state) => state.profile.profile,
    }),
    ...mapGetters({
      isAuthorized: 'profile/isAuthorized',
      isLoading: 'loading/isLoading',
    }),
    username() {
      return this.profile?.name || this.profile?.email;
    },
    profileLoading() {
      const regex = new RegExp(`${ProfileModel.controller}|${AuthModel.controller}`, 'gi');
      return this.isLoading(regex);
    },
    topBarExtention() {
      let component = '';
      switch (this.$route.name) {
        case 'calendar':
          component = 'CalendarToolbar';
          break;
        case 'routes':
          component = 'RoutesToolbar';
          break;
        default:
          break;
      }
      return component;
    },
  },
  methods: {
    toggleDrawer() {
      this.$emit('update:drawer', !this.drawer);
    },
    toggleDisability() {
      this.$emit('update:disabilityMenu', !this.disabilityMenu);
    },
  },
};
</script>

<style>

</style>
