<template>
  <v-bottom-navigation
    app
    :value="value"
    v-model="value"
    grow
  >
    <v-btn
      v-for="item in menu"
      :key="item.id"
      min-height="100%"
      :value="item.id"
      :to="item.to"
    >
      <span>{{ item.label }}</span>
      <v-icon>{{ item.icon }}</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>
<script>
export default {
  data() {
    return {
      value: null,
    };
  },
  computed: {
    isIndex() {
      return this.$route.name === 'index';
    },
    menu() {
      const first = this.isIndex ? {
        label: 'События',
        to: 'events',
        id: 'events',
        icon: 'mdi-map-search-outline',
      } : {
        label: 'Главная',
        to: { name: 'index' },
        id: 'index',
        icon: 'mdi-home',
      };
      return [
        first,
        {
          label: 'Избранное',
          to: 'my-events',
          id: 'my-events',
          icon: 'mdi-heart',
        },
        {
          label: 'Маршрут',
          to: 'routes',
          id: 'routes',
          icon: 'mdi-routes',
        },
        {
          label: 'Календарь',
          to: { name: 'calendar' },
          id: 'calendar',
          icon: 'mdi-calendar',
        },
      ];
    },
  },
  created() {
    this.value = this.$route.name;
  },
};
</script>
