<template>
  <v-bottom-sheet v-model="show">
    <v-sheet
      class="text-center"
      min-height="200px"
    >
      <v-btn
        class="mt-6"
        text
        color="error"
        @click="show = !show"
      >
        {{ close }}
      </v-btn>
      <div class="px-3 py-8">
        <v-switch
          v-model="speech"
          inset
          hide-details
          :label="speechTitle"
        ></v-switch>
        <v-switch
          v-model="large"
          inset
          hide-details
          :label="largeTitle"
        ></v-switch>
        <v-switch
          v-model="contrast"
          inset
          hide-details
          :label="contrastTitle"
        ></v-switch>
      </div>
    </v-sheet>
  </v-bottom-sheet>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      close: 'Закрыть',
      speechTitle: 'Прочтение',
      largeTitle: 'Крупный шрифт',
      contrastTitle: 'Контраст',
    };
  },
  computed: {
    ...mapState({
      disability: (state) => state.disability.disability,
    }),
    show: {
      set(val) {
        this.$emit('input', val);
      },
      get() {
        return this.value;
      },
    },
    speech: {
      set(val) {
        this.setSpeech(val);
      },
      get() {
        return this.disability.speech;
      },
    },
    large: {
      set(val) {
        this.setLarge(val);
      },
      get() {
        return this.disability.large;
      },
    },
    contrast: {
      set(val) {
        this.setContrast(val);
      },
      get() {
        return this.disability.contrast;
      },
    },
  },
  methods: {
    ...mapActions({
      setSpeech: 'disability/setSpeech',
      setLarge: 'disability/setLarge',
      setContrast: 'disability/setContrast',
    }),
  },
};
</script>

<style>

</style>
