<template>
  <v-navigation-drawer
    :value="drawer"
    :mobile-breakpoint="0"
    :temporary="this.$vuetify.breakpoint.xs"
    clipped
    app
    touchless
    :width="$vuetify.breakpoint.smAndUp ? 300 : 256"
    @input="(val) => $emit('update:drawer', val)"
  >
    <v-list v-if="isAuthorized">
      <v-list-item link>
        <v-list-item-content>
          <v-list-item-title class="title">{{ profile.name }}</v-list-item-title>
          <v-list-item-subtitle>{{ profile.email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
      <v-btn block color="primary" class="my-4" @click="logout">{{ logoutTitle }}</v-btn>
    </v-list-item>
    </v-list>
    <v-list-item v-if="!isAuthorized">
      <v-btn block color="primary" to="login" class="my-4">{{ loginTitle }}</v-btn>
    </v-list-item>
  </v-navigation-drawer>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  props: {
    drawer: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loginTitle: 'Войти',
      logoutTitle: 'Выход',
    };
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'profile/isAuthorized',
    }),
    profile() {
      return this.$store.state.profile.profile || {};
    },
  },
  methods: {
    ...mapActions({
      logout: 'profile/logout',
    }),
  },
};
</script>
