<template>
  <div>
    <v-snackbar
      v-for="message in messages"
      :key="message.uuid"
      :value="true"
    >
      {{ message.message }}
      <template v-slot:action="{ attrs }">
        <v-btn
          :color="mapTypes[message.type]"
          text
          v-bind="attrs"
          @click="onClose(message.uuid)"
        >
          {{ close }}
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      close: 'Закрыть',
      mapTypes: {
        error: 'error',
      },
    };
  },
  computed: {
    ...mapState({
      messages: (state) => state.messages.messages,
    }),
  },
  methods: {
    ...mapActions({
      delMessage: 'messages/delMessage',
    }),
    onClose(uuid) {
      this.delMessage(uuid);
    },
  },
};
</script>

<style>

</style>
