<template>
  <div>
    <h1 class="text-center">{{ title }}</h1>
    <div class="my-12 text-center">
      <v-btn to="login">{{ actionTitle }}</v-btn>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: 'Вы не авторизованы',
      actionTitle: 'Войти',
    };
  },
};
</script>

<style>

</style>
