<template>
  <frame-route-stepper/>
</template>
<script>
import FrameRouteStepper from '../../components/frames/FrameRouteStepper.vue';

export default {
  data: () => ({}),
  components: {
    FrameRouteStepper,
  },
};
</script>
