<template>
  <div class="page-route-list ma-n3">
    <v-tabs-items v-model="activeFrame">
      <v-tab-item
        v-for="frame in frames"
        :key="frame.id"
      >
        <component :is="frame.component" :filter="frame.filter"/>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import FrameRouteInfo from '../../components/frames/FrameRouteInfo.vue';
import FrameRouteList from '../../components/frames/FrameRouteList.vue';

export default {
  components: {
    FrameRouteList,
    FrameRouteInfo,
  },
  computed: {
    ...mapState({
      frames: (state) => state.routes.frames,
    }),
    activeFrame: {
      get() {
        return this.$store.state.routes.activeFrame;
      },
      set(val) {
        this.SET_ACTIVE_FRAME(val);
      },
    },
  },
  methods: {
    ...mapMutations({
      SET_ACTIVE_FRAME: 'routes/SET_ACTIVE_FRAME',
    }),
  },
};
</script>
<style lang="scss">
</style>
