<template>
  <v-container class="min-h-100">
    <v-row>
      <v-col cols="12" v-for="card in cards" :key="card.id">
        <CardRoute :info="card" :filter="filter" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CardRoute from '../cards/CardRoute.vue';

export default {
  props: {
    filter: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      cards: [],
    };
  },
  components: {
    CardRoute,
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.getCards();
    },
    async getCards() {
      const cards = [
        {
          id: '0',
          title: 'Новый маршрут',
          startDate: '2021-08-09T18:31:42',
          endDate: '2021-08-12T18:31:42',
          startAddress: 'Пермь, Ленина, 35',
          endAddress: 'Пермь, Ленина, 45',
          image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
        },
        {
          id: '1',
          title: 'Новый маршрут',
          startDate: '2021-08-09T18:31:42',
          endDate: '2021-08-12T18:31:42',
          startAddress: 'Пермь, Ленина, 35',
          endAddress: 'Пермь, Ленина, 45',
          image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
        },
      ];
      this.cards = cards.map((c) => ({
        ...c,
        startDate: this.$dayjs(c.startDate).format('DD MMM YYYY'),
        endDate: this.$dayjs(c.endDate).format('DD MMM YYYY'),
        duration: this.$dayjs.duration(this.$dayjs(c.endDate).diff(c.startDate, 'days'), 'days').humanize(),
      }));
    },
  },
};
</script>

<style>

</style>
