<template>
  <v-chip-group
    active-class="primary--text"
    multiple
    column
    @change="onChange"
    :value="activeSpheres"
  >
    <v-chip
      v-for="sphere in spheres"
      :key="sphere.id"
      :value="sphere.id"
    >
      {{ sphere.title }}
    </v-chip>
  </v-chip-group>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
import { SPHERES } from '../../dictionaries/spheres';

const FILTER_KEY = 'spheres';

export default {
  name: 'FrameFilterCategory',
  data: () => ({
    spheres: SPHERES,
  }),
  methods: {
    ...mapMutations({
      setFilter: 'events/SET_FILTER_BY_KEY',
    }),
    onChange(value) {
      this.setFilter({
        key: FILTER_KEY,
        value,
      });
    },
  },
  computed: {
    ...mapState({
      filters: (state) => state.events.filters,
    }),
    activeSpheres() {
      return this.filters[FILTER_KEY];
    },
  },
};
</script>
