<template>
  <div>
    <v-chip-group
      active-class="primary--text"
      multiple
      column
      @change="onChange"
      :value="activeThemes"
    >
      <v-chip
        v-for="theme in themes"
        :key="theme.id"
        :value="theme.id"
      >
        {{ theme.title }}
      </v-chip>
    </v-chip-group>
  </div>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
import { THEMES } from '../../dictionaries/themes';

const FILTER_KEY = 'themes';

export default {
  name: 'FrameFilterThemes',
  data: () => ({
    themes: THEMES,
  }),
  methods: {
    ...mapMutations({
      setFilter: 'events/SET_FILTER_BY_KEY',
    }),
    onChange(value) {
      this.setFilter({
        key: 'themes',
        value,
      });
    },
  },
  computed: {
    ...mapState({
      filters: (state) => state.events.filters,
    }),
    activeThemes() {
      return this.filters[FILTER_KEY];
    },
  },
};
</script>
