<template>
  <div>
    <user-events-list/>
  </div>
</template>
<script>
import UserEventsList from '../events/UserEventsList.vue';

export default {
  components: {
    UserEventsList,
  },
};
</script>
