<template>
  <div class="">
<!--    <v-img-->
<!--      height="200px"-->
<!--      gradient="45deg, rgba(55, 0, 0, 0.4), rgba(0, 0, 55, 0.4)"-->
<!--      :src="info.image"-->
<!--    >-->
<!--      <v-card-title class="white&#45;&#45;text">-->
<!--        {{ info.title }}-->
<!--      </v-card-title>-->
<!--      <v-card-subtitle class="white&#45;&#45;text">-->
<!--        {{ info.startAddress }} - {{ info.endAddress }}-->
<!--        <div>{{ info.startDate }} - {{ info.endDate }} ({{ info.duration }})</div>-->
<!--      </v-card-subtitle>-->
<!--    </v-img>-->

<!--    <v-card-text>-->
<!--      <div class="font-weight-bold ml-8">-->
<!--        {{ info.startAddress }}-->
<!--      </div>-->
<!--      <div class="ml-8 mb-2">-->
<!--        {{ info.startFrom }}-->
<!--      </div>-->

<!--      <v-timeline-->
<!--        align-top-->
<!--        dense-->
<!--      >-->
<!--        <v-timeline-item-->
<!--          v-for="point in points"-->
<!--          :key="point.id"-->
<!--          small-->
<!--        >-->
<!--          <div>-->
<!--            <div class="font-weight-normal">-->
<!--              <strong>{{ point.title }}</strong> {{ point.start }}-->
<!--            </div>-->
<!--            <div>{{ point.address }}</div>-->
<!--          </div>-->
<!--        </v-timeline-item>-->
<!--      </v-timeline>-->

<!--      <div class="font-weight-bold ml-8">-->
<!--        {{ info.endAddress }}-->
<!--      </div>-->
<!--      <div class="ml-8 mb-2">-->
<!--        {{ info.endTo }}-->
<!--      </div>-->
<!--    </v-card-text>-->
    <div class="my-4 mx-4">
      <v-btn to="/routes/build" color="primary">Добавить маршрут</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      route: {
        id: '',
        title: 'Новый маршрут',
        startDate: '2021-08-09T18:31:42',
        endDate: '2021-08-12T18:31:42',
        startAddress: 'Пермь, Ленина, 35',
        endAddress: 'Пермь, Ленина, 45',
        image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
        startLocation: {
          lat: '',
          lon: '',
        },
        endLocation: {
          lat: '',
          lon: '',
        },
        points: [
          {
            title: 'Галерея',
            startDate: '2021-08-09T18:31:42',
            endDate: '2021-08-09T19:31:42',
            duration: '3600000',
            address: 'Пермь, Ленина, 35',
            link: '',
            location: {
              lat: '',
              lon: '',
            },
          },
          {
            title: 'Кафе',
            startDate: '2021-08-09T20:31:42',
            endDate: '2021-08-09T22:31:42',
            duration: '7200000',
            address: 'Пермь, Ленина, 45',
            link: '',
            location: {
              lat: '',
              lon: '',
            },
          },
        ],
      },
    };
  },
  computed: {
    info() {
      const {
        title,
        startAddress,
        endAddress,
        startDate,
        endDate,
      } = this.route || {};
      const duration = this.$dayjs(endDate).diff(startDate, 'days');
      return {
        title,
        startAddress,
        endAddress,
        startDate: this.$dayjs(startDate).format('DD MMM YYYY'),
        endDate: this.$dayjs(endDate).format('DD MMM YYYY'),
        startFrom: this.$dayjs(startDate).fromNow(),
        endTo: this.$dayjs(endDate).fromNow(),
        duration: this.$dayjs.duration(duration, 'days').humanize(),
      };
    },
    points() {
      const points = this.route?.points || [];
      return points.map((p) => ({
        title: p.title,
        address: p.address,
        start: this.$dayjs(p.startDate).fromNow(),
      }));
    },
  },
};
</script>

<style>

</style>
