<template>
  <v-chip-group
    active-class="primary--text"
    multiple
    column
    @change="onChange"
    :value="activeAreas"
  >
    <v-chip
      v-for="area in areas"
      :key="area.id"
      :value="area.id"
    >
      {{ area.title }}
    </v-chip>
  </v-chip-group>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
import { AREAS } from '../../dictionaries/areas';

const FILTER_KEY = 'areas';

export default {
  name: 'FrameFilterAreas',
  data: () => ({
    areas: AREAS,
  }),
  methods: {
    ...mapMutations({
      setFilter: 'events/SET_FILTER_BY_KEY',
    }),
    onChange(value) {
      this.setFilter({
        key: FILTER_KEY,
        value,
      });
    },
  },
  computed: {
    ...mapState({
      filters: (state) => state.events.filters,
    }),
    activeAreas() {
      return this.filters[FILTER_KEY];
    },
  },
};
</script>
