<template>
  <div>
    <div>
      <v-stepper
          v-model="currentStep"
          vertical
      >
        <v-stepper-step
            :complete="currentStep > 1"
            step="1"
        >
          Имя маршрута
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-text-field label="Маршрут мечты" v-model="route.name"/>
          <div>
            <v-btn
                color="primary"
                @click="currentStep = 2"
            >
              Далее
            </v-btn>
            <v-btn text>
              Назад
            </v-btn>
          </div>
        </v-stepper-content>

        <v-stepper-step
            :complete="currentStep > 2"
            step="2"
        >
          Дата проведения
        </v-stepper-step>

        <v-stepper-content step="2">
          <v-date-picker
              v-model="route.dates"
              range
          />
          <div>
            <v-btn
                color="primary"
                @click="currentStep = 3"
            >
              Далее
            </v-btn>
            <v-btn
                text
                @click="currentStep = 1"
            >
              Назад
            </v-btn>
          </div>
        </v-stepper-content>

        <v-stepper-step
            :complete="currentStep > 3"
            step="3"
        >
          Выбор мероприятий
        </v-stepper-step>

        <v-stepper-content step="3">
          <v-timeline dense class="my-4">
            <v-timeline-item
                v-for="(event, idx) in route.events"
                :key="idx">
              {{ event }} - {{ idx + 1 }}
            </v-timeline-item>
            <v-timeline-item>
              <v-btn @click="route.events.push(`event`)">
                + Мероприятие
              </v-btn>
            </v-timeline-item>
          </v-timeline>
          <div>
          </div>
          <div class="my-4">
            <v-btn
                @click="currentStep = 2"
                text
            >
              Назад
            </v-btn>
          </div>
        </v-stepper-content>
      </v-stepper>
    </div>
    <div class="mt-4">
      <v-btn
          color="primary"
          @click="saveRoute"
      >
        Сохранить Маршрут
      </v-btn>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FrameRouteStepper',
  data() {
    return {
      currentStep: 1,
      route: {
        name: '',
        dates: [],
        events: [],
      },
    };
  },
  methods: {
    saveRoute() {
      console.log('route was saved', this.route);
      this.$router.push('routes');
    },
  },
};
</script>
