<template>
  <div>
    <v-row no-gutters class="ma-n3">
      <v-col>
        <v-img src="https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg" class="pa-3">
          <div class="d-flex flex-column min-h-100">
            <h2 class="white--text">{{ blocks.search.title }}</h2>
            <div class="pt-3">
              <v-text-field
                v-model="blocks.search.search"
                :label="blocks.search.searchLabel"
                rounded
                outlined
                solo
                flat
                hide-details
                append-icon="mdi-magnify"
              />
            </div>
            <div class="ma-auto white--text font-weight-bold">
              {{ blocks.search.or }}
            </div>
            <div class="ma-auto">
              <v-btn :to="{ name: 'user-quiz' }" rounded x-large>
                {{ blocks.search.quizLabel }}
              </v-btn>
            </div>
          </div>
        </v-img>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h2>{{ blocks.routes.title }}</h2>
        <swiper class="swiper" :options="blocks.routes.swiperOption">
          <swiper-slide
            v-for="route in blocks.routes.routes"
            :key="route.id"
          ><CardRouteSmall :filter="blocks.routes.filter" :info="route" /></swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import CardRouteSmall from '../components/cards/CardRouteSmall.vue';

export default {
  components: {
    Swiper,
    SwiperSlide,
    CardRouteSmall,
  },
  data() {
    return {
      blocks: {
        search: {
          title: 'Задайте вопрос',
          searchLabel: 'Поиск',
          search: '',
          quizLabel: 'Подобрать',
          or: 'или',
        },
        routes: {
          title: 'Рекомендованные маршруты',
          filter: 'recommended',
          routes: [
            {
              id: '0',
              title: 'Активный отдых с детьми',
              itemCount: '15',
              duration: '6 дней',
              image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
            },
            {
              id: '2',
              title: 'Активный отдых с детьми',
              itemCount: '15',
              duration: '6 дней',
              image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
            },
            {
              id: '3',
              title: 'Активный отдых с детьми',
              itemCount: '15',
              duration: '6 дней',
              image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
            },
            {
              id: '4',
              title: 'Активный отдых с детьми',
              itemCount: '15',
              duration: '6 дней',
              image: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
            },
          ],
          swiperOption: {
            slidesPerView: 1.5,
            spaceBetween: 3,
          },
        },
      },
    };
  },
};
</script>

<style>

</style>
