<template>
  <div>
    <h1>{{ title[step] }}</h1>
    <div v-if="isAuthorized || profileLoading">
      <v-btn
        block
        color="primary"
        @click="logout"
      >{{ logoutTitle }}</v-btn>
    </div>
    <v-form
      v-else
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onAction"
      :disabled="formLoading"
    >
      <v-text-field
        v-show="step === availableSteps.email"
        ref="email"
        v-model="email"
        :rules="emailRules"
        :label="emailLabel"
        autofocus
        required
      ></v-text-field>

      <v-text-field
        v-show="step === availableSteps.addition"
        ref="name"
        v-model="name"
        :rules="nameRules"
        :label="nameLabel"
        required
        autofocus
      ></v-text-field>
      <v-text-field
        v-show="step === availableSteps.addition"
        ref="phone"
        type="number"
        v-model="phone"
        :rules="phoneRules"
        :label="phoneLabel"
        required
      ></v-text-field>

      <v-text-field
        v-show="[availableSteps.pass, availableSteps.addition].includes(step)"
        ref="password"
        v-model="password"
        :type="showPassword ? 'text' : 'password'"
        :rules="passwordRules"
        :label="passwordLabel"
        required
        :autofocus="step === availableSteps.pass"
        :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
        @click:append="toggleShowPassword"
      ></v-text-field>
      <v-btn
        type="submit"
        block
        color="primary"
        class="mt-3"
        :loading="actionLoading"
        :disabled="actionDisabled"
        @click="onAction"
      >{{ actionTitle[step] }}</v-btn>
    </v-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import EmailService from '../services/email';
import EmailModel from '../models/email';
import AuthModel from '../models/auth';
import ProfileModel from '../models/profile';

export default {
  data() {
    return {
      title: {
        email: 'Вход',
        pass: 'Вход',
        addition: 'Регистрация',
      },
      actionTitle: {
        email: 'Далее',
        pass: 'Войти',
        addition: 'Регистрация',
      },
      emailLabel: 'E-mail',
      passwordLabel: 'Пароль',
      nameLabel: 'Ваше имя',
      phoneLabel: 'Номер телефона',
      logoutTitle: 'Выход',
      email: '',
      password: '',
      name: '',
      phone: '',
      passwordRules: [
        (v) => !!v || 'Поле обязательно',
        (v) => (v && v.length >= 6) || 'Пароль должен быть более 6 символов',
      ],
      nameRules: [
        (v) => !!v || 'Поле обязательно',
        (v) => (v && v.length >= 3) || 'Поле должно быть более 3 символов',
      ],
      phoneRules: [
        (v) => !!v || 'Поле обязательно',
        (v) => (v && v.length >= 11) || 'Поле должно быть не менее 11 символов',
      ],
      emailRules: [
        (v) => !!v || 'E-mail обязятелен',
        (v) => /.+@.+\..+/.test(v) || 'E-mail указан неверно',
      ],
      valid: true,
      showPassword: false,
      emailExist: false,
      availableSteps: {
        email: 'email',
        pass: 'pass',
        addition: 'addition',
      },
      step: 'email',
    };
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'profile/isAuthorized',
      isLoading: 'loading/isLoading',
    }),
    emailLoading() {
      return this.isLoading(EmailModel.controller);
    },
    actionLoading() {
      return this.emailLoading;
    },
    actionDisabled() {
      return this.actionLoading;
    },
    formLoading() {
      return this.isLoading(AuthModel.controller);
    },
    profileLoading() {
      return this.isLoading(`${ProfileModel.controller}.me`);
    },
  },
  methods: {
    ...mapActions({
      loginAction: 'profile/login',
      logout: 'profile/logout',
      addLoading: 'loading/addLoading',
      delLoading: 'loading/delLoading',
      signupAction: 'profile/signup',
    }),
    async onAction() {
      switch (this.step) {
        case this.availableSteps.email:
          this.valid = this.$refs.email.validate();
          break;
        case this.availableSteps.pass:
          this.valid = ['password', 'email'].every((f) => this.$refs[f].validate());
          break;
        case this.availableSteps.addition:
          this.valid = ['password', 'email', 'name', 'phone'].every((f) => this.$refs[f].validate());
          break;
        default:
          break;
      }

      if (!this.valid) return;

      await this.checkEmail(this.email);

      if (this.step === this.availableSteps.email) {
        this.step = this.emailExist ? this.availableSteps.pass : this.availableSteps.addition;
      } else if (this.emailExist) {
        this.login();
      } else this.signup();
    },
    async login() {
      const credentials = {
        email: this.email,
        password: this.password,
      };
      await this.loginAction(credentials);
      if (this.isAuthorized) this.$router.push('events');
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    toggleShowPassword() {
      this.showPassword = !this.showPassword;
    },
    async checkEmail(email) {
      this.addLoading(`${EmailModel.controller}.check`);
      const exist = await EmailService.check({ email })
        .finally(() => this.delLoading(`${EmailModel.controller}.check`));
      this.emailExist = exist;
      return exist;
    },
    async signup() {
      const credentials = {
        email: this.email,
        password: this.password,
        name: this.name,
        phone: this.phone,
      };
      await this.signupAction(credentials);
      const name = this.step === this.availableSteps.addition ? 'user-quiz' : 'events';
      if (this.isAuthorized) this.$router.push({ name });
    },
  },
};
</script>

<style>

</style>
