<template>
  <div class="page-user-quiz">
    <user-quiz-manager />
  </div>
</template>
<script>
import UserQuizManager from '../components/user-quiz/UserQuizManager.vue';

export default {
  name: 'PageUserQuiz',
  components: {
    UserQuizManager,
  },
};
</script>
<style lang="scss">
.page-user-quiz {
  height: 100%;
}
</style>
