<template>
  <v-row dense>
    <v-col cols="12">
      <v-bottom-sheet>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            light
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-filter</v-icon>
          </v-btn>
        </template>
        <v-sheet class="text-center py-4">
          <event-filters />
        </v-sheet>
      </v-bottom-sheet>
      <transition-group name="fade">
        <template v-if="hasSomeFilter">
            <v-btn
              class="ml-4"
              light
              @click="resetFilters"
              key="reset-filter"
            >
              Сбросить
              <v-icon>mdi-filter-remove</v-icon>
            </v-btn>
            <v-btn
              class="ml-4"
              light
              @click="getListAction"
              key="comfirm-filter"
            >
              Применить
              <v-icon>mdi-check</v-icon>
            </v-btn>
        </template>
      </transition-group>
    </v-col>
    <v-col cols="12">
      <v-text-field label="Поиск по мероприятиям"></v-text-field>
    </v-col>
    <v-col cols="12">
      <transition-group name="fade">
        <event-card v-for="event in events" :key="event.id" :event="event" class="my-4"/>
        <template v-if="listLoading">
          <v-skeleton-loader
            v-bind="skeletonAttrs"
            type="image, article"
            v-for="i in skeletonCounts"
            :key="i"
            height="423"
          />
        </template>
        <infinite-loading @infinite="fetchList" key="infinite-loading"/>
      </transition-group>
    </v-col>
  </v-row>
</template>

<script>
import {
  mapState, mapActions, mapGetters, mapMutations,
} from 'vuex';
import InfiniteLoading from 'vue-infinite-loading';
import EventCard from '../components/events/EventCard.vue';
import EventFilters from '../components/events/EventFilters.vue';
import { DEFAULT_LIMIT } from '../consts/pagination';

export default {
  name: 'PageEventsList',
  components: {
    EventFilters,
    EventCard,
    InfiniteLoading,
  },
  data: () => ({
    skeletonAttrs: {
      class: 'mb-6',
      boilerplate: true,
      elevation: 2,
    },
    skeletonCounts: DEFAULT_LIMIT,
  }),
  computed: {
    ...mapState({
      events: (state) => state.events.list,
      isLoading: 'loading/isLoading',
    }),
    ...mapGetters({
      isLoading: 'loading/isLoading',
      hasSomeFilter: 'events/hasSomeFilter',
    }),
    listLoading() {
      const regex = new RegExp('events.list', 'gi');
      return this.isLoading(regex);
    },
  },
  methods: {
    ...mapActions({
      getListAction: 'events/getList',
    }),
    ...mapMutations({
      resetList: 'events/RESET_LIST',
      resetFilters: 'events/RESET_FILTERS',
    }),
    fetchList($state) {
      this.getListAction()
        .then(({ isCompleted }) => {
          if (isCompleted) {
            $state.completed();
            return;
          }
          $state.loaded();
        });
    },
  },
  created() {
    this.getListAction();
  },
};
</script>
