<template>
  <div>
    <v-tabs grow v-model="activeFrame">
      <v-tab v-for="frame in frames" :key="frame.id">{{ frame.name }}</v-tab>
    </v-tabs>
    <v-tabs-items v-model="activeFrame">
      <v-tab-item
        v-for="frame in frames"
        :key="frame.id"
      >
        <component :is="frame.component"/>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import FrameUserEvents from '../components/frames/FrameUserEvents.vue';

export default {
  components: {
    FrameUserEvents,
  },
  data() {
    return {
      activeFrame: null,
      frames: [
        {
          id: '1',
          name: 'Мои мероприятия',
          component: 'FrameUserEvents',
        },
      ],
    };
  },
};
</script>
