<template>
  <div>
    <v-row no-gutters class="ma-n3">
      <v-col>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  name: 'PageCalendar',

  components: {},
  data() {
    return {
      title: 'Календарь событий',
    };
  },
};
</script>
