<template>
  <div class="d-flex flex-grow-1 justify-space-between align-center">
    <v-tabs background-color="primary">
      <v-tab
        v-for="filter in filters"
        :key="filter.id"
      >{{ filter.title }}</v-tab>
    </v-tabs>
    <v-select
      :items="calendarViews"
      :label="calendatViewLabel"
      light
      dense
      solo
      item-value="value"
      item-text="label"
      hide-details
      flat
    ></v-select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      calendatViewLabel: 'Вид',
      filters: [
        {
          id: 'my',
          title: 'Мои',
        },
        {
          id: 'all',
          title: 'Все',
        },
      ],
      calendarViews: [
        {
          value: 'month',
          label: 'Месяц',
        },
      ],
    };
  },
};
</script>

<style>

</style>
