<template>
  <v-tabs v-model="activeFrame">
    <v-tab v-for="frame in frames" :key="frame.id">{{ frame.name }}</v-tab>
  </v-tabs>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      frames: (state) => state.routes.frames,
    }),
    activeFrame: {
      get() {
        return this.$store.state.routes.activeFrame;
      },
      set(val) {
        this.SET_ACTIVE_FRAME(val);
      },
    },
  },
  methods: {
    ...mapMutations({
      SET_ACTIVE_FRAME: 'routes/SET_ACTIVE_FRAME',
    }),
  },
};
</script>

<style>
</style>
