<template>
  <base-layout />
</template>

<script>
import { mapActions } from 'vuex';
import BaseLayout from './layouts/BaseLayout.vue';

export default {
  name: 'App',
  components: { BaseLayout },
  data: () => ({
    //
  }),
  created() {
    this.init();
  },
  methods: {
    ...mapActions({
      getProfile: 'profile/getProfile',
    }),
    init() {
      this.getProfile();
    },
  },
};
</script>
<style lang="scss">
@import './assets/scss/style.scss';
</style>
