<template>
  <v-app class="base-layout">
    <AppBar :drawer.sync="drawer" :disabilityMenu.sync="disabilityMenu" />
    <Drawer :drawer.sync="drawer" />
    <BottomNavigation />
    <DisabilityMenuSheet v-model="disabilityMenu" />
    <Messages />
    <v-main>
      <v-container fluid class="min-h-100 flex flex-column">
        <router-view v-if="isAuthorized || !requiresAuth"></router-view>
        <UnauthorizedPanel v-else />
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import { mapGetters } from 'vuex';
import BottomNavigation from '../components/layout/BottomNavigation.vue';
import Drawer from '../components/layout/Drawer.vue';
import AppBar from '../components/layout/AppBar.vue';
import DisabilityMenuSheet from '../components/layout/DisabilityMenuSheet.vue';
import Messages from '../components/layout/Messages.vue';
import UnauthorizedPanel from '../components/layout/UnauthorizedPanel.vue';

export default {
  components: {
    BottomNavigation,
    Drawer,
    AppBar,
    DisabilityMenuSheet,
    Messages,
    UnauthorizedPanel,
  },
  data() {
    return {
      drawer: false,
      disabilityMenu: false,
    };
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'profile/isAuthorized',
    }),
    requiresAuth() {
      return this.$route.meta.requiresAuth === true;
    },
  },
  created() {
    console.log(this.$router.history.current);
  },
};
</script>
<style lang="scss">
$base-layout-nav-height: 56px;

.base-layout {
  &__nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $base-layout-nav-height;
  }

  &__page {
    min-height: 100vh;
    padding-bottom: $base-layout-nav-height;
  }
}
</style>
